

body {
	font-family: "futura-pt", "futura", sans-serif;
	font-style: normal;
	font-weight: 400;
}

h1, h2, h3, h4, h5 {
	font-family: "orbitron", Impact, Charcoal, sans-serif;
	font-weight: 300;
	font-style: normal;
	text-align: center;
}

tr:nth-of-type(odd) {
  background-color:#ddd;
} 
td {
 padding: 5px;
 }




.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

#devise {
	margin: 0 auto;
	width: 300px;
	padding: 2px 33px;
	border:1px solid grey;
	border-radius: 5px;
}

#new_user {
	margin: 0 auto;
	width: 234px;
}

.center_div {
	width: 220px;
	margin: 0 auto;
}