

<div class="pull-right">
            <% if user_signed_in? %>
			Hello <%= link_to(current_user.email, edit_user_registration_path) %>
							
			<%= link_to('Logout', destroy_user_session_path, :method => :delete) %> 
			<% else %>

			<%= link_to "Login", new_user_session_path %></li>
			<% end %>  
</div>

	<a href="/"><h1>Cybernetic</h1></a>


